@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-10 py-2 my-0 tracking-widest uppercase border-2 border-black font-alata hover:bg-black hover:text-white duration-150;
  }
}

/* Navigation Styles */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav__links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 48em) {
  .topnav__menu {
    position: fixed;
    inset: 0;
    padding: 3rem 1.5rem;
    background-color: black;
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
  }
  .topnav__links {
    flex-direction: column;
    align-items: start;
  }
}

.topnav__close {
  display: block;
  margin-inline-start: auto;
  margin-bottom: 8rem;
}

.topnav__open[aria-expanded=true] + .topnav__menu {
  translate: 0;
}

@media (prefers-reduced-motion) {
  .topnav__open[aria-expanded=true] + .topnav__menu {
    opacity: 1;
  }
}

/* handle menu animation for users w/animations disabled */
@media (width < 48em) and (prefers-reduced-motion) {
  .topnav__menu {
    translate: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}

.header {
  background-image: url('../images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 48rem) {
  .header {
    background-image: url('../images/mobile/image-hero.jpg');
    background-position: center;
  }
}

.image-grid-container {
  @apply flex flex-col justify-between w-full space-y-6 md:flex-row md:space-y-0 md:space-x-8;
}

.image-overlay {
  @apply absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

.image-title {
  @apply absolute px-6 duration-200 w-52 bottom-4 text-2xl font-light text-white uppercase md:text-[32px] md:bottom-8 md:w-full md:px-10 group-hover:text-black;
}